n8n_fluxo_agente_nf.json
{
  "name": "Agente NF com Ollama",
  "nodes": [
    {
      "parameters": {
        "path": "nf-agent",
        "method": "POST",
        "responseMode": "onReceived"
      },
      "name": "Webhook Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "\nimport os\nimport zipfile\n\n# Salva o arquivo recebido\ninput_file = $binary[\"arquivo\"][\"data\"]\nfile_path = \"/data/input.zip\"\nwith open(file_path, \"wb\") as f:\n    f.write(input_file)\n\n# Descompacta\nwith zipfile.ZipFile(file_path, 'r') as zip_ref:\n    zip_ref.extractall(\"/data/nfs\")\n\nreturn [{\"json\": {\"status\": \"ZIP extra\u00eddo com sucesso\"}}]\n"
      },
      "name": "Descompactar ZIP",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "\nimport pandas as pd\nimport os\nimport json\n\n# L\u00ea os arquivos\ncabecalho = pd.read_csv(\"/data/nfs/202401_NFs_Cabecalho.csv\", sep=',')\nitens = pd.read_csv(\"/data/nfs/202401_NFs_Itens.csv\", sep=',')\n\n# Junta os dados\ndf = pd.merge(cabecalho, itens, on=\"CHAVE DE ACESSO\")\n\n# Gera agrega\u00e7\u00e3o exemplo\nresumo = df.groupby('RAZ\u00c3O SOCIAL EMITENTE')['VALOR TOTAL'].sum().sort_values(ascending=False).head(5)\ncontexto = resumo.to_string()\n\n# Monta prompt para LLM\nprompt = f\"\"\"\nBaseado nos dados de notas fiscais:\n\n{contexto}\n\nPergunta: {$json[\"body\"][\"pergunta\"]}\nResponda em linguagem simples e direta.\n\"\"\"\n\nreturn [{\"json\": {\"prompt\": prompt}}]\n"
      },
      "name": "Gerar Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://localhost:11434/api/generate",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"model\": \"mistral\",\n  \"prompt\": \"={{$json[\"prompt\"]}}\",\n  \"stream\": false\n}"
      },
      "name": "Chamar Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "responseData": "={{$json[\"response\"]}}",
        "responseCode": 200
      },
      "name": "Responder ao Usu\u00e1rio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Entrada": {
      "main": [
        [
          {
            "node": "Descompactar ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descompactar ZIP": {
      "main": [
        [
          {
            "node": "Gerar Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Prompt": {
      "main": [
        [
          {
            "node": "Chamar Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar Ollama": {
      "main": [
        [
          {
            "node": "Responder ao Usu\u00e1rio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}